@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 14px;
}

body {
  background-color: #f2f2f2;
  line-height: 1.5;
  color-scheme: light;
}

a {
  color: #203c7f;
  text-decoration: underline;
}

a:hover {
  color: #7f5020;
  text-decoration: underline;
}

a:visited {
  color: #203c7f;
  text-decoration: underline;
}

h1 {
  text-align: center;
  color: black;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  text-align: left;
  text-decoration: none;
  color: black;
  line-height: 1.5;
  margin-bottom: 20px;
}

b {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #dddddd;
}

tr {
  color: black;
}

li {
  color: black;
  font-size: 14px;
  line-height: 1.5;
}

pre, code {
  font-family: "Inconsolata", monospace;
  color: black;
  background-color: #d4d4d4;
  font-weight: 500;
  padding: 1.618033989px 4.828427125px;
  border-radius: 2.414213562px;
}

pre {
  width: fit-content;
  height: fit-content;
  padding-top: 4.828427125px;
  padding-bottom: 4.828427125px;
}

footer {
  padding: 1rem;

  font-size: 13.5px;
  text-align: center;
}

mark {
  background-color: #fff200;
}

.afooter {
  font-size: 14.5px;
}

.date {
  text-align: center;

  text-decoration: none;
}

.kernel {
  padding: 1rem;
  font-size: 14px;

  text-align: right;
  text-decoration: none;
}

.email {
  line-height: 1.5;
  text-decoration: none;
  font-style: 14px;
  text-align: right;
}
